*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
   
}
.box{
    display: flex;
    gap: 20px;
}

.box1{
    background-color: red;
    height: 200px;
    width: 40px;
    animation: all 4s ease-in-out 1s;
    
}
@keyframes all{
    10%{
       transform: translate(20px);
       height: 20%;
    }
    to{
        transform: translate(20px 10px);
        height: 100%;
    }
}
.box2{
    background-color: rgb(9, 225, 49);
    height: 200px;
    width: 40px;
    transform: skew(30deg);
    z-index: 2;
    
}
.box3{
    background-color: red;
    height: 200px;
    width: 40px;
}
