*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   animation: grow 5s ease-in-out 3.5s alternate ;
}
.box{
    display: flex;
    gap: 20px;
    position: relative;
    
}

.box1{
    background:linear-gradient(to top,rgb(203, 0, 0),red );
    height: 200px;
    width: 40px;
    animation: all 1.2s ease-in  , all3 1s ease-in-out 5.5s alternate-reverse forwards ;
    position: relative;
    transform-origin: bottom top;
}
@keyframes all{
    from{
      height: 0;
    
    }
    to{
        height: 200px;
    }
}
.box2{
    background-color: rgb(250, 47, 47);
    height: 0;
    width: 40px;
    transform: skew(30deg);
    z-index: 2;
    left: 0px;
     animation: all2 1s linear  1.1s forwards , all2 1s ease-in-out 4.4s alternate-reverse forwards;
     position: relative;
    
}
@keyframes all2{
    from{
      height: 0px;
      left: -43px;
    }
    to{
        height: 200px;
    }
}
.box3{
    background:linear-gradient(to top,red,rgb(203, 0, 0));
    height: 0;
    width: 40px;
    position: absolute;
    bottom: 0;
    animation: all3 1s ease  2.2s forwards , all3 1s ease-in-out 3.3s alternate-reverse forwards;
}
@keyframes all3{
    from{
      height: 0;
    
    }
    to{
        height: 200px;
    }
}

@keyframes grow{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(3);
    }
}